html, body {
    margin: 0;
    height: 100%;
}

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    background-color: rgb(150, 150, 150);
}

.grid-item {
    /* border-style: solid;
    border-width: 2px;
    border-color: orange; */
}

.hovered {
    background-color: darkslategray;
}